.App {
  margin:30px 60px;
  border: 2px solid black;
  height:600px ;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
-moz-box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
box-shadow: 10px 10px 5px 0px rgba(201,189,201,1);
padding: 5px;
}
.searchbar{
  margin:5px;
  width: 50%;
  display: flex;
}
.search{
  width: 70%;
  margin-right: 10px;
}
.navbar{
  height: 20%;
} 
.form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
input{
  width: 60%;
}
.box-office{
  background: #fff;
  border: 1px solid #C82333;
  border-radius: 6px;
  height: 270px;
  overflow: hidden;
  max-width: 160px;
  z-index: 2;
  position: relative;
  display:block;
  color: #747474;
  text-align: center;
  margin: 5px;
  position:relative;
  
}
.main{
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  margin:0px 15px;

}
.imgBox{
  width: 90%;
  height: 65%;
  margin-top: 5px;
}
p{
  font-size: 9px;
}
.stars{
  position: absolute;
  bottom:15px;
  left: 30px;
}
i{
  color:#FFDF00;
}
label{
  font-weight: 700;
  font-size: 13px;
}
span{
  margin:0px;
}
.rating{
  display: flex;
  flex-direction: column;
  align-items: center;
}